In [ ]:
'''
Q.1) What are data structures, and why are they important?
->   The process of storing collection of  data into different types of container like list, sets, array,
     tuple, dictionary are known as data structures.
     data structures are important for fast and efficient coding experience 

Q.2) Explain the difference between mutable and immutable data types with examples?
->   An mutable data type can be alter after describing (eg: list,sets,dictionary)on the other side
     immutable data types cannot be alter once described (eg: str,int,float,boolean value)

Q.3) What are the main differences between lists and tuples in Python?
->   lists are mutable and tuples are immutable.

Q.4) Describe how dictionaries store data?
->   dictionaries store data in the form of key : value pair in which the value is assign to key and can be modify.

Q.5) Why might you use a set instead? of a list in Python?
->   A set can be use in case of storing only unique value means set removes the duplicate value present inside it

Q.6) What is a string in Python, and how is it different from a list?
->   string in python is use to store textual data inside  " " which is immutable.list can store multiple data types like int,str,float inside [] which 
     is mutable 

Q.7) How do tuples ensure data integrity in Python?
->   tuples are developed to store fix data, tuples are immutable that ensure the data integrity.

Q.8) What is a hash table, and how does it relate to dictionaries in Python?
->   hash table can be called as a data structure which maps the keys to values using a hash function.
     the keys here are known as index which represent the values.

Q.9) can lists contain different data types in Python?
->   yes, list can contain different data types in python like str,int,float,boolean 

Q.10) Explain why strings are immutable in Python?
->   strings are immutable for maintaing security and integrity.

Q.11) What advantages do dictionaries offer over lists for certain tasks?
->    Dictionaries are more efficient and offers a fast look up than lists using a key value pair.

Q.12) How do sets handle duplicate values in Python?
->    set automaically removes the duplicate data present in it. set is a collection of data where items are stored in unordered way.
      adding an duplicate item to set also relsuts the same means python will ignore the duplicate item and keep the set unchanged 
      
Q.13) Describe a scenario where using a tuple would be preferable over a list?
->    tuples are used to store fixed values,in situations where a user wants to store values for a aadhar card no ,pan card no, employee ID,date
      of birth,etc.In this cases the values are permanent so, obivously tuples are most useful than list 
      
Q.14) How does the “in” keyword work differently for lists and dictionaries? 
->    the “in” keyword is use to check membership in both but it in dictionaries it only checks the key for example {"name":"saud"} if try with 
      "name"(key) it will return true but if try with saud(value) it will reutrn false 

Q.15) Can you modify the elements of a tuple? Explain why or why not?
->    Tuples are collection of data used to store fixed and permanent values in which ther is no need to change or alter the data in future it will 
      remain the same no matter what the is  situtaion. The immutable charecteristic of tuples dont allow to modify or alter a element present in it.

Q.16) What is a nested dictionary, and give an example of its use case?
->    A nested dictionary is a dictionary inside another dictionary.providing mulitiple level innformation.
      nested dictionaries is useful to store complex data like {"name": "saud", "age": 20, "subjects": ["Math", "Physics"]} 
      
Q.17) Describe the time complexity of accessing elements in a dictionary?
->    Since hashing and lookup in a well-implemented hash table take constant time, most dictionary operations run in O(1).  

Q.18) In what situations are lists preferred over dictionaries?
->    lists can be more preferable in the situation where the data is hetrogenous and to be stored in ordered form and can be acess through index
      num instead of key
       
Q.19) Why are dictionaries considered unordered, and how does that affect data retrieval?
->    Historically, Python dictionaries were unordered because they used hash tables for storage, which didn't maintain insertion order. However, 
      starting from Python 3.7, dictionaries preserve insertion order as an implementation detail, and in Python 3.8+, it is officially guaranteed.
      
Q.20) Explain the difference between a list and a dictionary in terms of data retrieval.
->    in list the data is retrieve using Index-based (list[index]) whereas in dictionaries the index is switch to  Key-based (dict[key])
'''

In [1]:
#practical questions 
#Q.1) Write a code to create a string with your name and print it.
name = "Saud Siddique Mom"
print(name)

Saud Siddique Mom

In [13]:
#Q.2) Write a code to find the length of the string "Hello World"
character = "Hello World"
print("the lenght of the character is", len(character))

the lenght of the character is 11

In [15]:
#Q.3) Write a code to slice the first 3 characters from the string "Python Programming"
my_str = "Python Programming"
my_str [0:3]

'Pyt'

In [17]:
#Q.4) Write a code to convert the string "hello" to uppercase
char = "hello"
char.upper()

'HELLO'

In [18]:
#Q.5) Write a code to replace the word "apple" with "orange" in the string "I like apple"
my_str =  "I like apple"
my_str.replace("apple","orange")

'I like orange'

In [19]:
#Q.6) Write a code to create a list with numbers 1 to 5 and print it
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [24]:
#Q.7) Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [26]:
#Q.8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [27]:
#Q.9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
my_list[1]

'b'

In [2]:
#Q.10) Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [3]:
#Q.11) Write a code to create a tuple with the elements 100, 200, 300 and print it
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [7]:
 #Q.12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
my_tuple = ('red', 'green', 'blue', 'yellow')
my_tuple[-2]

'blue'

In [3]:
#Q.13) Write a code to find the minimum number in the tuple (10, 20, 5, 15).
number = (10, 20, 5, 15)
print(min(number))

5

In [7]:
#Q.14)  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
pet = ('dog', 'cat', 'rabbit')
pet.index("cat")

1

In [8]:
#Q.15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple","mango","kiwi")
"kiwi" in fruits

True

In [9]:
#Q.16) Write a code to create a set with the elements 'a', 'b', 'c' and print it.

elements = {'a', 'b', 'c'} 
print(elements)

{'c', 'a', 'b'}

In [12]:
#Q.17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [17]:
#Q.18) Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [19]:
#Q.19) Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

In [20]:
#Q.20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print("Intersection of the sets:", intersection_set)

Intersection of the sets: {2, 3}

In [26]:
#Q.21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dictionary = {"name": "saud", "age":23,"city":"mumbai"}

print(my_dictionary)

{'name': 'saud', 'age': 23, 'city': 'mumbai'}

In [7]:
#Q.22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dictionary1 = {"name": "john", "age":25}
my_dictionary1["country"] = "USA"
print(my_dictionary1)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [6]:
#Q.23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dictionary = {'name': 'Alice', 'age': 30}
dictionary["name"]

'Alice'

In [40]:
#Q.24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dictionary1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dictionary1["age"]
print(dictionary1)

{'name': 'Bob', 'city': 'New York'}

In [46]:
#Q.25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dictionary2 = {'name': 'Alice', 'city': 'Paris'}
print("city" in dictionary2)

True

In [11]:
#Q.26) Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [58,"onion","brinjal","lemon",9,6]
my_tuple =("mango","apple","lichi",5,8)
my_dictionary = {"name": "saud", "age":23,"city":"mumbai"}

print(my_list),
print(my_tuple)
print(my_dictionary)

[58, 'onion', 'brinjal', 'lemon', 9, 6]
('mango', 'apple', 'lichi', 5, 8)
{'name': 'saud', 'age': 23, 'city': 'mumbai'}

In [76]:
#Q.27) write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replace)
import random
random_number = [random.randint(1,100) for i in range(5)]
random_number.sort()
print(random_number)

[7, 44, 59, 73, 82]

In [8]:
#Q.28) Write a code to create a list with strings and print the element at the third index.
my_list1 = ["john","alex","marira","andrew"]
my_list1[3]

'andrew'

In [12]:
#Q.29)  Write a code to combine two dictionaries into one and print the result.

dict1 = {"name": "saud", "age": 25}
dict2 = {"city": "mumbai", "country": "India"}
dict1.update(dict2)
print(dict1)

{'name': 'saud', 'age': 25, 'city': 'mumbai', 'country': 'India'}

In [13]:
#Q.30)  Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "cherry", "apple", "banana"]
my_set = set(my_list)
print(my_set)

{'cherry', 'apple', 'banana'}